@using MVC5OnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>Ürün Sil</th>
        <th>Güncelle</th>
        </tr>
    
      @foreach (var urun in Model)
      {
<tr>
    <td>@urun.UrunId</td>
    <td>@urun.UrunAd</td>
    <td>@urun.Marka</td>
    <td>@urun.Stok</td>
    <td>@urun.AlisFiyati</td>
    <td>@urun.SatisFiyati</td>
    <td>@urun.Kategori.KategoriAd</td>
    <td>@urun.UrunGorsel</td>
    <td><a href="/Urun/UrunSil/@urun.UrunId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Urun/UrunGetir/@urun.UrunId" class="btn btn-success">Güncelle</a></td>
</tr>
      }

</table>

<a href="/Urun/YeniUrun" class="btn btn-info">Yeni Ürün Ekle</a>
